<div class="text-4xl font-bold text-center py-6">Chat list</div>
<div class="py-10 px-10 md:flex md:flex-wrap justify-center">
<% @rooms.each do |room| %>
    <p>
     <% if room.trainer.image.attached? %>
     <%= image_tag room.trainer.image, size:'50x50', class: "rounded-full" %>
     <% else %>
     <%= image_tag ("noimage.jpg"), size: '50x50' %>
     <% end %>
    </p>
    <p><%= link_to room.trainer.name, chat_path(room.id), class: "mr-4" %></p>
<% end %>
</div>