<div class="bg-gray-600 bg-opacity-75 text-gray-100" style="height: 90vh;">
<div class="grid grid-cols-1 gap-x-4 lg:gap-x-8 gap-y-6 sm:gap-y-8 lg:gap-y-12 p-8">
  <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-4">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:gap-20 mx-auto">
      <% @rooms.each do |room| %>
      <div class="overflow-hidden">
        <% if room.trainer.image.attached? %>
    <%= link_to chat_path(room.id) do %>
    <%= image_tag room.trainer.image, class: "rounded-md sm:h-auto sm:w-auto" %> <br>
  <% end %>
  <% else %>
    <%= image_tag ("noimage.jpg"), size: '50x50' %>
  <% end %>
      <%= room.trainer.name %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
