<div id="chats" class="" style="padding-bottom: 219px;">
<div class="text-center"><%="#{@chat.trainer.name}トレーナーとのチャット"%></div>
<div id="chat_buttons">
  <%= render "chats/chat", chats: @chats, chat: @chat %>
</div>
</div>
