<div id="chats" class="h-screen w-screen" style="padding-bottom: 100px;">
<div class="text-center"><%="#{@chat.trainer.name}トレーナーとのチャット"%></div>
<div id="chat_buttons">
  <%= render "chats/chat", chats: @chats, chat: @chat %>
</div>
</div>
