<div class="relative">
<%= image_tag 'about-bg.jpg', class: "absolute inset-0 object-cover w-full h-full" %>
<div class="relative bg-gray-900 bg-opacity-75">
<div class="pt-32 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8" style="height: 95vh;">
  <div class="grid gap-10 lg:grid-cols-2">
    <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg">
      <div class="max-w-xl mb-6">
        <h2 class="max-w-lg mb-6 font-sans text-5xl font-bold tracking-tight text-white sm:text-4xl sm:leading-none">
          About for TRENTAL<br class="hidden md:block" />
        </h2>
        <p class="text-base text-white md:text-lg">
      　パーソナルトレーナーをしていた頃お客様から、「トレーニングを続けたいけど値段が高く続けられない」そんな言葉を度々頂きました。もっと気軽にトレーナーを見つけられる環境はないだろうか、そのような思いでサイトを立ち上げました。
        </p>
      </div>
      <div>
        <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
          Top page
          <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
            <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex items-center justify-center mx-4 lg:pl-8">
      <div class="flex flex-col items-end px-3">
         <%= image_tag 'about01.jpg', class: "object-cover mb-6 rounded shadow-lg h-28 sm:h-48 xl:h-56 w-28 sm:w-48 xl:w-56" %>
         <%= image_tag 'about02.jpg', class: "object-cover w-20 h-20 rounded shadow-lg sm:h-32 xl:h-40 sm:w-32 xl:w-40" %>
      </div>
      <div class="px-3">
         <%= image_tag 'about03.jpg', class: "object-cover w-40 h-40 rounded shadow-lg sm:h-64 xl:h-80 sm:w-64 xl:w-80" %>
      </div>
    </div>
  </div>
</div>
</div>
</div>