<div class="relative">
  <div class="content01"></div>
  <p class="title1 text-white text-4xl md:text-7xl lg:text-8xl xl:text-9xl fade-in">Let's</p>
  <p class="title2 text-white text-4xl md:text-7xl lg:text-8xl xl:text-9xl fade-in">Start</p>
  <p class="title3 text-white text-4xl md:text-7xl lg:text-8xl xl:text-9xl fade-in">Training</p>
</div>

<div class="grid grid-cols-1 content02">
  <section class="text-gray-600 body-font">
  <div class="container px-5 py-16 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-24 mb-10 border-gray-200 sm:flex-row flex-col fade">
      <div class="w-32 h-32 md:w-60 md:h-60 lg:h-72 lg:w-72 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 md:w-48 md:h-48 lg:h-60 lg:w-60" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 Headline-left">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">近所にジムがなくてお困りの方</h2>
        <p class="leading-relaxed text-base">自分の通っている24時間ジムや近所のレンタルジムで気軽にレンタル可能です</p>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-24 mb-10 border-gray-200 sm:flex-row flex-col fade">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 Headline-right">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">好みのトレーナーに教わりたい方</h2>
        <p class="leading-relaxed text-base">性別やトレーニングしたい部位など好みの条件からトレーナーのレンタルが可能です</p>
      </div>
      <div class="w-32 h-32 md:w-60 md:h-60 lg:h-72 lg:w-72 sm:order-none order-first sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
       <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 md:w-48 md:h-48 lg:h-60 lg:w-60" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
         <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
       </svg>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-24 mb-10 border-gray-200 sm:flex-row flex-col fade">
      <div class="w-32 h-32 md:w-60 md:h-60 lg:h-72 lg:w-72 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 md:w-48 md:h-48 lg:h-60 lg:w-60" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 Headline-left">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">パーソナルを受けてみたいけど値段が高くて躊躇している方</h2>
        <p class="leading-relaxed text-base">個人のトレーナーが在籍しているので低価格でトレーニングを受けられます</p>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-24 mb-10 border-gray-200 sm:flex-row flex-col fade">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 Headline-right">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">個人でトレーナー活動を始めたい方</h2>
        <p class="leading-relaxed text-base">プロフィールを開設しトレーナーとして活動が可能です</p>
      </div>
      <div class="w-32 h-32 md:w-60 md:h-60 lg:h-72 lg:w-72 sm:order-none order-first sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
       <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 md:w-48 md:h-48 lg:h-60 lg:w-60" viewBox="0 0 20 20" fill="currentColor">
         <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
       </svg>
      </div>
    </div>
    <button class="flex mx-auto mt-20 btn btn-active btn-primary">
      <%= link_to "検索してみる", trainers_path %>
    </button>
  </div>
</section>
</div>


<div class="content03">
   <p class="title1 text-white text-4xl md:text-7xl lg:text-8xl xl:text-9xl"></p>
</div>



 <script>
(window.onload = function() {

  // フェードイン処理
  jQuery(window).scroll(function (){
    jQuery(".fade").each(function(){
      var winheight = jQuery(window).height();
      var posi = jQuery(this).offset().top;
      var scroll = jQuery(window).scrollTop();
      if (scroll + winheight > posi){
        jQuery(this).addClass("fadein");
      } else {
        jQuery(this).removeClass("fadein");
      }
    });
   });

})();
</script>