<div class="relative">
  <%= image_tag 'top-bg.jpg', class: "absolute inset-0 object-cover w-full h-full" %>
  <div class="relative h-screen">
<svg class="intro w-96 md:w-full h-screen" viewbox="0 0 200 86">
  <text text-anchor="start" x="10" y="30" class="text text-stroke" clip-path="url(#text1)">Let's</text>
  <text text-anchor="start" x="10" y="50" class="text text-stroke" clip-path="url(#text2)">Start</text>
  <text text-anchor="start" x="10" y="70" class="text text-stroke" clip-path="url(#text3)">Training</text>

  <text text-anchor="start" x="10" y="30" class="text text-stroke text-stroke-2 py-24" clip-path="url(#text1)">Let's</text>
  <text text-anchor="start" x="10" y="50" class="text text-stroke text-stroke-2" clip-path="url(#text2)">Start</text>
  <text text-anchor="start" x="10" y="70" class="text text-stroke text-stroke-2" clip-path="url(#text3)">Training</text>

  <defs>
    <clipPath id="text1">
      <text  text-anchor="start" x="10" y="30" class="text">Let's</text>
    </clipPath>
    <clipPath id="text2">
      <text text-anchor="start" x="10" y="50" class="text">Start</text>
    </clipPath>
    <clipPath id="text3">
      <text text-anchor="start" x="10" y="70" class="text">Training</text>
    </clipPath>
  </defs>
<div>
<%= link_to "Learn more", about_path, class: "inline-flex items-center font-semibold tracking-wider transition-colors duration-200 text-green-400 hover:text-green-700" %>
  <svg class="inline-block w-3 ml-2 text-green-400" fill="currentColor" viewBox="0 0 12 12">
    <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
  </svg>
  </div>
</svg>
</div>
</div>
    
<script>
  $(function() {
  $('.intro').addClass('go');

  $('.reload').click(function() {
    $('.intro').removeClass('go').delay(200).queue(function(next) {
      $('.intro').addClass('go');
      next();
    });

  });
})
</script>