<div class="grid grid-cols-1 bg-gray-100 text-center h-64 m-4 rounded-2xl">
  <div class="text-2xl my-auto">新規投稿</div>
  <div class="">
    <%= form_with model: @photo, local: true do |f| %>
    <%= f.file_field :image %><br>
    <div class="w-auto p-6">
      <%= f.text_area :caption %><br>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
