<h2>Post detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to @post.title, @post %></td>
          <td><%= @post.body %></td>
      
          <% if @post.trainer == current_trainer %>
            <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success edit_book_#{@post.id}" %></td>
            <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@post.id}" %></td>
          <% end %>
        </tr>
      </table>
