<div class="grid grid-cols-3">
  <div class="rounded w-full h-82 bg-gray-300 text-center">検索欄</div>
  <div class="rounded w-full col-span-2 flex justify-center">
    <% if @trainer.image.attached? %>
    <%= image_tag @trainer.image, size:'300x300', class: "rounded-full" %>
    <% else %>
    <%= image_tag ("noimage.jpg"), size: '100x100' %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div>
    <%= link_to "Chat Start", chat_path(@trainer.id) %>
  </div>
  <div class="text-center col-span-2 py-4">
    <%= @trainer.name %>
  </div>
  <% end %>
</div>

