/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.HeaderSection{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
}

.FooterSection{
  position: fixed; /* フッターを固定する */
  bottom: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* フッターの横幅を指定する */
  height: 70px; /* フッターの高さを指定する */
  color: #FFFFFF; /* フッターのフォントの色を指定する */
}

.MainSection{
  padding-top: 62px;
  padding-bottom: 100px;
}

// slick画像
.slider img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-tom: 50px;
}


// ヘッダー
header {
	background-color: #f9fafb;
}
header > div {
	max-width: 980px;
	margin: 0 auto;
	padding: 8px;
	text-align: right;
}

.menu-btn > i {
	display: inline-block;
	padding: 12px;
	cursor: pointer;
	border-radius: 50%;
}
.menu-btn > i:hover {
	background-color: #f3f4f6;
}

.nav-content {
	background-color: white;
	width: 80%;
	max-width: 450px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 50;
	padding: 8px;
	overflow: auto;
	transform: translateX(100%);
	transition-duration: 300ms;
}
.nav-menu ul {
	list-style: none;
	text-align: left;
}
.nav-menu li > a {
	text-decoration: none;
	color: black;
	padding: 12px;
	display: block;
}
.nav-menu li > a:hover {
	background-color: #f3f4f6;
}

.nav-close {
	display: none;
	background-color: black;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 40;
	transition-duration: 300ms;
}

#menu-checkbox {
	display: none;
}
#menu-checkbox:checked ~ .nav-close {
	display: block;
	opacity: 0.5;
}
#menu-checkbox:checked ~ .nav-content {
	transform: translateX(0%);
}




// チャット
.rooms{
  margin:0 auto;
  background-color:#fdfdfd;
  border: 2px solid #eee;
  padding:1em 2em;
  height: 100%;
}
#chats{
  padding: 20px 10px;
  max-width: 800px;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
}
.fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.fukidasi .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}
.fukidasi .faceicon img{
  width: 90%;
  height: auto;
  border-radius: 50%;
}
.fukidasi .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

